<div class="page-header fill tabbable">
  <div class="clearfix">
    <div class="trace-nav pull-left">
      <ul class="nav nav-pills">
        <li class="active"><a id="overview-pill" href="#overview">Overview</a></li>
        <li><a id="timeline-pill" href="#timeline">Timeline</a></li>
        <li><a id="dependencies-pill" href="#dependency">Dependencies</a></li>
      </ul>
    </div>
    <!-- For some reason these have to be in reverse order? -->
    <div class="display-encased pull-right">
      <span class="trace-timestamp-display timestamp-duration">{{duration}} ms</span>
      <span class="trace-timestamp-label" rel="tooltip" data-original-title="{{date}} {{time}}">{{timeAgoInWords}}</span>
    </div>
    <div class="pull-right pin-trace-div hide">
      <a class="pin-trace-tooltip" href="#" rel="tooltip" data-original-title="Pin a trace in order to save it for from getting expired once the usual time to live is hit">
        <button class="btn pin-trace-btn btn-danger" value="false">
          <i class="icon-star-empty pin-trace-icon"></i>
        </button>
      </a>
    </div>
    <div class="pull-right">
      <button class="btn export-trace-btn">
        <i class="icon-download"></i>
      </button>
    </div>
    {{#has_filtered_spans}}
    <div class="pull-right">
      <button class="expand-all btn">Expand all</button>
      <button class="collapse-all btn hide">Collapse all</button>
    </div>
    {{/has_filtered_spans}}
    <div class="pull-right js-trace-search">
      <form class="trace-search-form js-trace-search-form">
        <input class="trace-search-field js-trace-search-field" type="text" placeholder="Search term (service)"/>
        <span><i class="icon-search"></i></span>
      </form>
    </div>
  </div>
  <!-- <div class="triangle-l"></div> --><!-- Left triangle -->
  <!-- <div class="triangle-r"></div> --><!-- Right triangle -->
</div>

<div id="overview" class="trace-data-tab row">
  <div class="span12">
    <div class="trace-summary"></div>
  </div>
  <div class="onebox span12">
    <div class="row">
      <div class="span8 onebox-left"></div>
      <div class="span4 onebox-right"></div>
    </div>
  </div>
</div>

<div id="dependency" class="trace-data-tab row hide">
  <div class="span14">
    <div id="trace-dependency"></div>
  </div>
</div>

<div id="timeline" class="trace-data-tab hide">
  <div class="annotation-list">
    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Service</th>
          <th>Span Name</th>
          <th>Annotation</th>
          <th>Host</th>
        </tr>
      </thead>
      <tbody>
        {{#annotations}}
        <tr id="annotation-{{index}}" class="sp-id-{{id}} expandable-annotation">
          <td class="small">
            {{delta}}ms
          </td>
          <!-- <td>
            <%= a[:id] %>
          </td>   -->
          <td>
            <span class="label label-orange">{{service}}</span>
          </td>
          <td>
            <span class="label">{{name}}</span>
          </td>
          <td>
            <span class="label label-annotation {{label}}">
              {{annotation}}
            </span>
          </td>
          <td class="small">
            {{hostAddress}}:{{port}}
          </td>
        </tr>

        {{#has_binary_annotations}}
        <tr style="display:none;">
          <td colspan="5" class="small">
            <div id="binary-annotations-<%= index %>" style="display: none;">
              <table class="common-table" cellpadding="0">
                <tr>
                  <th class="small" colspan="2">metadata</th>
                </tr>
                {{#binary_annotations}}
                <tr id="annotation-{{index}}">
                  <td class="small">
                    {{key}}
                  </td>
                  <td>
                    <span style="font-size: 12px; color: #999; text-shadow: 0px 1px 0px #FFF;">{{value}}</span>
                  </td>
                </tr>
                {{/binary_annotations}}
              </table>
            </div>
          </td>
        </tr>
        {{/has_binary_annotations}}
      {{/annotations}}
      </tbody>
    </table>
  </div>
</div>
