<div class="onebox-section">
  <div class="onebox-section-title">
    <h4><i class="icon-minus"></i> Service summary</h4>
  </div>
  <div class="onebox-section-body">
    <table class="table table-condensed table-sortable">
      <thead>
        <th>Service</th>
        <th class="onebox-tooltip" rel="tooltip" data-original-title="Total time spent processing">CPU <i class="icon-arrow-down"></i></th>
        <th class="onebox-tooltip" rel="tooltip" data-original-title="Total time spent waiting for RPCs">Wait</th>
      </thead>
      <tbody>
        {{#serviceSummary}}
        <tr>
          <td><span class="label service-label">{{service}}</span></td>
          <td>{{cpuTime}}</td>
          <td>{{waitTime}}</td>
        </tr>
        {{/serviceSummary}}
      </tbody>
    </table>
  </div>
</div>
