<li id="service-tag-li-{{name}}">
  <span id="service-tag-{{name}}" class="label service-tag service-tag-filtered">{{name}}</span>
  {{#closeable}}
    <span id="service-tag-close-{{name}}"class="label service-tag-close">x</span>
  {{/closeable}}
</li>