# Docker Hub does not seem to evaluate globstar to match root directory so we duplicate some rules
# for both root and subdirectories.
/\.*
**/\.*
!/.git
!**/.eslintrc
**/*.test.yml

/target
**/target
**/node_modules
**/*.iml

/*.md
**/*.md

**/Dockerfile
/docker/hooks/**
/travis/**
/mvnw*
