# Gradle
.gradle
build/

# Intellij
.idea/
*.iml
*.ipr
*.iws

# https://github.com/openzipkin/zipkin/issues/534
zipkin-collector-service/zipkin.db
zipkin-query-service/zipkin.db
zipkin-web/node_modules
/.nb-gradle/
# .travis.yml installs cassandra in the pwd
dsc-cassandra-*
