*.java text=auto eol=lf
*.bnd text=auto eol=lf

*.sh text=auto eol=lf
.*_profile text=auto eol=lf

*.md text=auto eol=lf
*.txt text=auto eol=lf

*.yml text=auto eol=lf
*.yaml text=auto eol=lf
*.xml text=auto eol=lf
*.properties text=auto eol=lf

*.js text=auto eol=lf
*.jsx text=auto eol=lf
*.ts text=auto eol=lf
*.tsx text=auto eol=lf
*.json text=auto eol=lf
*.mustache text=auto eol=lf
*.css text=auto eol=lf
