<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Note: this will dump a large amount of data in the logs -->
  <!--<logger name="com.datastax.driver.core.QueryLogger" level="TRACE" />-->
  <!--<logger name="zipkin.storage.cassandra" level="DEBUG" />-->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
