<div class="control-group js-time-annotation removable hide">
  <div>
    <label class="control-label index-control-label" for="time_annotation">Annotation</label>
    <div class="controls index-controls">
      <input type="text" id="time_annotation" name="time_annotation">
    </div>
  </div>
  <div class="remove">
    <i class="icon-remove"></i>
  </div>
</div>