<div class="control-group js-kv-annotation hide">
  <label class="control-label index-control-label" for="annotation_key">Key</label>
  <div class="controls index-controls">
    <input type="text" id="annotation_key" name="annotation_key">
  </div>

  <label class="control-label index-control-label" for="annotation_value">Value</label>
  <div class="controls index-controls">
    <input type="text" id="annotation_value" name="annotation_value">
  </div>
</div>