<div class="control-group js-time-annotation hide">
  <label class="control-label index-control-label" for="time_annotation">Annotation</label>
  <div class="controls index-controls">
    <input type="text" id="time_annotation" name="time_annotation">
  </div>
</div>