<div>
  <div class="modal-header">
    <a class="close details-close" data-dismiss="modal">×</a>
    <h3 id="annotation-modal-title">{{title}}</h3>
  </div>
  <div>
    <ul class="breadcrumb">
      {{#breadcrumbs}}
      <li {{#last}}class="active"{{/last}}>
        <a id="{{id}}" title="{{services}}" href="#">
          {{shortServices}}.{{name}}</a>{{^last}}<span class="divider">/</span>{{/last}}
      </li>
      {{/breadcrumbs}}
      <li>
    </ul>
  </div>
  <div class="modal-body">
    <table class="table" cellpadding="0">
      <thead>
        <tr>
          <th>Relative time</th>
          <th>Service</th>
          <th>Span Name</th>
          <th>Annotation</th>
          <th>Host</th>
        </tr>
      </thead>
      <tbody>
        {{#annotations}}
        <tr>
          <td class="small">{{startTime}}ms</td>
          <td><span class="label">{{service}}</span></td>
          <td><span class="label">{{name}}</span></td>
          <td><span>{{annotation}}</span></td>
          <td class="small">{{hostname}}:{{#host}}{{port}}{{/host}}</td>
        </tr>
        {{/annotations}}
      </tbody>
    </table>
    {{#hasKvAnnotations}}
    <table id="annotation-modal-kv-annotations-table" class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#kv}}
        <tr><td>{{key}}</td>
        <td>
          {{#isBinary}}
            <a class="hiddenKvAnnotation" data="{{value}}">Show binary data</a>
          {{/isBinary}}

          {{^isBinary}}
            {{value}}
          {{/isBinary}}
        </td></tr>
        {{/kv}}
      </tbody>
    </table>
    {{/hasKvAnnotations}}
  </div>
</div>