<div class="span5 offset3" style="vertical-align: 50%;" id="loading-data">
  <strong>Looking up trace</strong>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
</div>
<div class="error-box alert alert-error hide">
  <strong>Error:</strong>
  <span id="error-msg"></span>
</div>

<div id='trace-content'>
  <!-- AJAX fetched data goes here -->
</div>

<!-- error modal in case the "pinned" status cannot be set -->
<div class="modal hide" id="pinned-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" href="#pinned-modal">×</a>
    <h3>Failed to pin trace</h3>
  </div>
  <div class="modal-body">
    <p id="pinned-modal-error"></p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" href="#pinned-modal" class="btn">Close</a>
  </div>
</div>

<div id="annotation-modal" class="trace-desc-body annotation-list modal">
</div>

<%= content_for :javascript_inline do %>
  $(Zipkin.Application.Show.initialize("<%= @trace_id %>"));
<% end %>
