//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

$black: #000000;
$white: #ffffff;

$dark-1: #141414;
$dark-2: #1f1f20;
$dark-3: #262626;
$dark-4: #383838;
$dark-5: #464646;
$gray-1: #565756;
$gray-2: #686868;
$gray-3: #7a7b7b;
$gray-4: #898989;
$gray-5: #9f9f9f;
$gray-6: #ababab;
$gray-7: #bcbdbc;
$gray-8: #c8cac8;
$gray-9: #d8d9d8;
$gray-10: #eeeeee;
$gray-11: #f8f9f8;

$blue-1: #0084b4;
$blue-2: #5f95c3;
$blue-3: #9bbdda;
$blue-4: #6a9fb5;
$blue-5: #598da4;

$red-1: #b44400;

$body-bg: #262628;
$body-color: $gray-4;
$text-color: $gray-4;

$font-family-base: 'Roboto', Helvetica, Arial, sans-serif;

$font-size-root: 14px;
$font-size-base: 13px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 13px;
$font-size-lg: 18px;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.3rem;

$line-height-base: 1.5;
$input-line-height: 24px;

$btn-font-weight: 500;
$btn-line-height: 1;
$btn-border-radius: 2px;
