//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

$body-bg: $dark-1;

$text-color: $gray-11;

// Button
$btn-bg-default: $gray-4;
$btn-bg-webkit: -webkit-linear-gradient(top, $gray-4, $gray-2);
$btn-bg: linear-gradient(to bottom, $gray-4, $gray-2);
$btn-color: $gray-11;

$btn-bg-active-default: $dark-5;
$btn-bg-active-webkit: -webkit-linear-gradient(top, $gray-5, $gray-3);
$btn-bg-active: linear-gradient(to bottom, $gray-5, $gray-3);
$btn-color-active: $gray-10;

$btn-bg-disabled: $gray-1;
$btn-color-disabled: $gray-4;

// Header
$header-bg: $dark-4;
$header-color: $gray-9;
$header-shadow-color: $dark-3;
$header-option-color: $gray-6;
$header-option-color-selected: $gray-11;
$header-option-border-color: $dark-3;
$header-option-border-bottom-color-selected: $gray-11;
$header-option-bg: $dark-4;
$header-option-bg-selected-default: $dark-5;
$header-option-bg-selected-webkit: -webkit-linear-gradient(top, $gray-1, $dark-4);
$header-option-bg-selected: linear-gradient(to bottom, $gray-1, $dark-4);

// Sidebar
$sidebar-bg: $dark-4;
$sidebar-shadow-color: $dark-3;
$lookback-customs-bg: $gray-2;
$lookback-customs-border-color: $gray-3;

// Input
$input-color: $gray-11;
$input-border-color: $dark-3;
$input-bg: $dark-1;

$select-option-focused: $dark-4;

// TimePicker
$timepicker-select-bg: $dark-2;
$timepicker-select-bg-focused: $dark-3;
$timepicker-select-bg-selected: $gray-4;

// Traces
$traces-upper-box-bg: $dark-4;
$traces-initial-message-color: $gray-11;
$traces-initial-message-bg: $gray-3;
$traces-trace-summary-bg: $gray-1;
$traces-trace-summary-bg-hover: $gray-2;
$traces-trace-summary-border-color: $dark-1;
$traces-trace-summary-bar-bg: $dark-5;
$traces-trace-timeline-bg: $gray-2;
$traces-trace-summary-info-color: $white;

// LoadingOverlay
$loading-overlay-bg: $dark-2;
$loading-overlay-color: $gray-10;

// Badge
$badge-bg: $gray-4;
$badge-bg-hover: $gray-6;
$badge-border-color: $gray-2;

// Dependencies
$dependencies-color: $gray-9;
$dependencies-bg: $dark-3;
$dependencies-search-bg: $dark-4;
$dependencies-search-condition-bg: $dark-5;
$dependencies-sidebar-bg-1: $gray-1;
$dependencies-sidebar-count-label-color: $gray-11;
$dependencies-sidebar-count-value-color: $gray-9;
$dependencies-type-ahead-box-bg: $gray-1;

$trace-info-bg: $dark-3;
$trace-info-border-color: $dark-5;
$trace-mini-viewer-bg: $gray-8;
$trace-mini-viewer-time-markers-label-color: $gray-9;
