<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
      {{#stylesheets}}
      <link href="{{.}}" media="screen" rel="stylesheet" />
      {{/stylesheets}}

      {{#javascripts}}
      <script type="text/javascript" src="{{.}}"></script>
      {{/javascripts}}

      <script>
        var root_url="{{rootUrl}}";
      </script>

      {{#environment}}
      {{#production}}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30739707-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      {{/production}}
      {{/environment}}

      <title>Zipkin</title>
  </head>
  <body id="{{controllerName}}_{{actionName}}">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="{{rootUrl}}" class="brand">
             Zipkin<span class="muted" style="font-size: .75em; padding-left: 10px;">Investigate system behavior</span>
          </a>
          <ul class="nav nav-bar js-zipkin-navbar">
            <li class="active"><a id="find-trace-pill" href="{{rootUrl}}"><i class="icon-search icon-white"></i> Find a trace</a><li>
            <li><a id="aggregates-pill" href="{{rootUrl}}aggregates"><i class="icon-search icon-white"></i> Aggregates</a><li>
            <li class="active"><a href="#"><i class="icon-search icon-white"></i> Find a trace</a><li>
          </ul>
          <div class="pull-right">
            <div class="">
              <a class="adjust-clock-skew-tooltip" href="#" rel="tooltip" data-original-title="Clock skew adjustment: Enabled">
                <button class="btn adjust-clock-skew-btn btn-info" value="true"><i class="icon-time"></i></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        {{body}}
      </div>
    </div>
  </body>
</html>