<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
      <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" media="screen" rel="stylesheet" />
      <link href="public/css/bootstrap.css" media="screen" rel="stylesheet" />
      <link href="public/css/bootstrap-responsive.css" media="screen" rel="stylesheet" />
      <link href="public/css/application.css" media="screen" rel="stylesheet" />

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

      <script type="text/javascript" src="public/js/bootstrap.js"></script>
      <script type="text/javascript" src="public/js/d3-2.9.1.js"></script>
      <script type="text/javascript" src="public/js/hogan-2.0.0.js"></script>
      <script type="text/javascript" src="public/js/application.js"></script>
      <script>
        var root_url="{{rootUrl}}";
      </script>

      {{#environment}}
      {{#production}}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30739707-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      {{/production}}
      {{/environment}}

      <title>Zipkin</title>
  </head>
  <body id="{{controllerName}}_{{actionName}}">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="{{rootUrl}}" class="brand">
             Zipkin<span class="muted" style="font-size: .75em; padding-left: 10px;">Investigate system behavior</span>
          </a>
          <ul class="nav nav-bar js-zipkin-navbar">
            <li class="active"><a href="#"><i class="icon-search icon-white"></i> Find a trace</a><li>
          </ul>
          <div class="pull-right">
            <div class="">
              <a class="adjust-clock-skew-tooltip" href="#" rel="tooltip" data-original-title="Clock skew adjustment: "{{#clockSkew}}"Enabled"{{/clockSkew}} {{^clockSkew}}"Disabled"{{/clockSkew}}"">
                <button class="btn adjust-clock-skew-btn {{#clockSkew}}btn-info{{/clockSkew}} {{^clockSkew}}btn-danger{{/clockSkew}}" value="{{clockSkew}}"><i class="icon-time"></i></button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        {{#flash}}
          {{#message}}
          <div class="alert alert-success high-visibility">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <p><strong>{{body}}</strong></p>
          </div>
          {{/message}}

          {{#error}}
          <div class="alert alert-error high-visibility">
            <a class="close" data-dismiss="alert" href="#">x</a>
            <p><strong>{{body}}</strong></p>
          </div>
          {{/error}}
        {{/flash}}

        {{render}}
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        {{inlineJs}}
      });
    </script>
  </body>
</html>