div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	position: absolute;
  top: 5px;
	
	padding: 10px;
		
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	
	-webkit-box-shadow: 0px 4px 12px rgba(0,0,0,.4),
	                    0px 1px 0px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 4px 12px rgba(0,0,0,.4),
	                 0px 1px 0px rgba(255,255,255,.5);
	box-shadow: 0px 4px 12px rgba(0,0,0,.4),
	            0px 1px 0px rgba(255,255,255,.5);
}

.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
	border: none;
	margin-bottom: 0px;
}
div.datepicker a {
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: right;
	padding: 4px 4px;
	margin: 0px;
}
div.datepicker table th {
  padding: 1px;
	text-align: center;
	font-weight: normal;
}
div.datepicker tbody th {
	text-align: left;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
div.datepicker tbody th {
	text-align: left;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}


/* bootstrap resets */

div.datepicker table th + th,
div.datepicker table td + td,
div.datepicker table tr + tr td {
  border: none;
}

div.datepicker tr {
  margin-bottom: 3px;
}

div.datepicker table tbody tr:last-child td:first-child,
div.datepicker table tbody tr:last-child td:last-child{
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

/* colors */

.datepickerContainer {
	background: #F8F8F8;
}
div.datepicker a {
	color: #666;
	font-weight: bold;
}

div.datepicker td.datepickerSelected a {
  color: #EEE;
}

div.datepicker table th {
	color: #999;
	border: none;
}

td.datepickerNotInMonth a {
	color: #CCC;
	font-weight: normal;
}
tbody.datepickerDays td.datepickerSelected{
	background: #136A9F;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #17384d;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}
div.datepicker a:hover,
div.datepicker a:hover {
	color: #88c5eb;
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #999;
}

td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #700;
}
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}