@import url(~rc-calendar/assets/index.css);
@import url(~rc-input-number/assets/index.css);
@import url(~rc-time-picker/assets/index.css);
@import url(~react-table/react-table.css);
html {
  box-sizing: border-box;
  font-size: 14px; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #686868;
  background-color: #ffffff;
  margin: 0; }

[role="button"] {
  cursor: pointer; }

.rc-input-number {
  width: 100%;
  border: 1px solid #262626; }

.rc-input-number-handler-wrap {
  border-left: 1px solid #262626; }

.rc-input-number-handler {
  background: #898989;
  background: -webkit-linear-gradient(top, #898989, #686868);
  background: linear-gradient(to bottom, #898989, #686868);
  border: 1px solid #262626; }
  .rc-input-number-handler:active {
    background: #464646;
    background: -webkit-linear-gradient(top, #9f9f9f, #7a7b7b);
    background: linear-gradient(to bottom, #9f9f9f, #7a7b7b); }
  .rc-input-number-handler-up-inner {
    color: #f8f9f8; }
  .rc-input-number-handler-down-inner {
    color: #f8f9f8; }

.rc-input-number-input {
  border: 1px solid #262626;
  color: #f8f9f8;
  background-color: #141414; }

.rc-time-picker {
  height: 16px; }

.rc-time-picker-input {
  border: 0;
  border-radius: 2px;
  height: 16px;
  width: 65px;
  padding-left: 4px;
  color: #ffffff;
  background-color: #383838; }

.react-select__control {
  border: 1px solid #262626 !important;
  border-radius: 3px !important;
  color: #f8f9f8 !important;
  background-color: #141414 !important; }

.react-select__single-value {
  font-size: 13px;
  color: #f8f9f8 !important; }

.react-select__menu {
  background-color: #141414 !important; }

.react-select__option {
  color: #f8f9f8 !important; }

.react-select__option--is-focused {
  background-color: #383838 !important; }

.react-select__input {
  color: #f8f9f8 !important; }

.vizceral {
  width: 100%;
  height: 100%; }

.app__layout {
  display: block; }

.app__global-search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 14px 50px 14px 110px;
  box-sizing: border-box;
  width: 100%;
  background-color: #f8f9f8;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid #d8d9d8; }

.app__content {
  padding-top: 80px;
  padding-left: 80px;
  /* For avoiding from the header */
  position: relative; }

.browser {
  padding: 10px; }

.browser__results-header {
  padding-bottom: 8px;
  border-bottom: solid 2px #d8d9d8;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.browser__total-results {
  font-size: 16px; }

.browser__sorting-method-select {
  width: 180px; }

.browser__results {
  padding-top: 10px; }

.browser__trace-summary-wrapper {
  margin: 26px 0; }

.condition-annotation-query {
  height: 100%; }

.condition-annotation-query__input {
  height: 28px;
  padding: 0px 2px 0px 4px;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #9bbdda; }

.condition-duration {
  display: flex; }

.condition-duration__value-input {
  height: 28px;
  padding: 0px 2px 0px 4px;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-align: right;
  color: #ffffff;
  background-color: #9bbdda; }

.condition-duration-unit-select__control {
  border: 0 !important;
  border-radius: 0px !important;
  background-color: #9bbdda !important;
  cursor: pointer !important; }

.condition-duration-unit-select__single-value {
  color: #ffffff !important;
  height: 28px !important; }

.condition-limit {
  height: 100%;
  width: 76px; }

.condition-limit__input {
  height: 100%;
  padding: 0px 2px 0px 4px;
  box-sizing: border-box;
  color: #1f1f20;
  background: linear-gradient(to bottom, #eeeeee, #d8d9d8);
  width: 76px;
  font-size: 13px;
  display: flex;
  align-items: center; }

.condition-limit__input--focused {
  outline: 0;
  border: 0; }

.condition-lookback {
  display: flex; }

.condition-lookback-select__control {
  height: 50px !important;
  border: 0 !important;
  border-radius: 0px !important;
  cursor: pointer !important;
  color: #1f1f20 !important;
  background: linear-gradient(to bottom, #eeeeee, #d8d9d8) !important;
  border: 1px solid #bcbdbc !important;
  box-sizing: border-box !important; }

.condition-lookback-select__single-value {
  color: #1f1f20 !important; }

.condition-lookback__custom {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  color: #1f1f20;
  background-color: #c8cac8;
  box-sizing: border-box;
  display: flex;
  align-items: center; }

.condition-lookback__custom-date-picker {
  display: flex;
  padding: 0 1px; }

.condition-lookback__custom-tilda-indicator {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.condition-name-select__control {
  border: 0 !important;
  border-radius: 0px !important;
  background-color: #9bbdda !important;
  cursor: pointer !important; }

.condition-name-select__single-value {
  color: #ffffff !important;
  height: 28px !important; }

.condition-name-select__input {
  height: 28px !important;
  color: #ffffff !important; }

.date-picker {
  display: flex; }
  .date-picker .date-picker__calendar-input {
    height: 14px;
    width: 75px;
    padding-left: 4px;
    color: #ffffff;
    background-color: #383838;
    border: 0;
    border-radius: 2px; }
  .date-picker .date-picker__timepicker {
    padding-left: 2px; }

.dependencies-sidebar {
  padding: 4px;
  background-color: #f8f9f8; }

.dependencies-sidebar__service-name-container {
  border-bottom: 1px solid #d8d9d8;
  display: flex; }

.dependencies-sidebar__service-name {
  font-size: 22px;
  font-weight: bold; }

.dependencies-sidebar__subtitle {
  font-size: 18px; }

.dependencies-sidebar__subtitle-icon {
  margin-right: 4px; }

.dependencies-sidebar__no-edges {
  color: #b44400; }

.dependencies-sidebar__no-edges-icon {
  margin-right: 3px; }

.dependencies-sidebar__edge-data {
  margin: 4px 2px 14px 2px; }

.dependencies-sidebar__count-data-wrapper {
  display: flex;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #d8d9d8; }

.dependencies-sidebar__count-data {
  display: flex;
  margin-left: 4px;
  margin-right: 12px; }

.dependencies-sidebar__count-data-label {
  font-weight: bold;
  margin-right: 8px; }
  .dependencies-sidebar__count-data-label--normal {
    color: #1f1f20; }
  .dependencies-sidebar__count-data-label--danger {
    color: #b44400; }

.dependencies-sidebar__separator {
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid #d8d9d8; }

.dependencies-sidebar__doughnut-wrapper {
  width: 100%;
  display: flex;
  justify-content: center; }

.dependencies-sidebar__doughnut {
  width: 420px;
  height: 540px; }

.dependencies {
  display: flex; }

.dependencies__main {
  transition: width 0.25s; }
  .dependencies__main--wide {
    width: 100%; }
  .dependencies__main--narrow {
    width: calc(100% - 450px); }

.dependencies__sidebar-wrapper {
  transition: width 0.25s;
  background-color: #f8f9f8;
  border-left: 1px solid #d8d9d8;
  position: fixed;
  height: 100vh;
  z-index: 10;
  top: 0;
  right: 0;
  overflow-y: auto;
  padding-top: 85px;
  box-sizing: border-box; }
  .dependencies__sidebar-wrapper--opened {
    width: 450px; }
  .dependencies__sidebar-wrapper--closed {
    width: 0px;
    overflow: hidden;
    border-left: 0px; }

.dependencies__search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d8d9d8; }

.dependencies__search {
  padding: 10px;
  display: flex; }

.dependencies__lookback-condition {
  margin: 2px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #d8d9d8;
  background-color: #f8f9f8;
  display: flex;
  align-items: center; }

.dependencies__lookback-condition-separator {
  display: flex;
  align-items: center;
  padding: 0 4px; }

.dependencies__analyze-button-wrapper {
  display: flex;
  align-items: center;
  padding-left: 4px; }

.dependencies__analyze-button {
  border-radius: 2px;
  border: 1px solid #bcbdbc;
  background: linear-gradient(to bottom, #f8f9f8, #d8d9d8);
  padding: 4px;
  cursor: pointer; }

.dependencies__filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 8px 8px;
  box-sizing: border-box; }

.dependencies__graph-wrapper {
  width: 100%;
  display: flex;
  justify-content: center; }

.dependencies__graph {
  width: 90%;
  height: 1000px; }

.detailed-trace-summary__header {
  border-bottom: 2px solid #d8d9d8;
  padding: 4px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }

.detailed-trace-summary__trace-id {
  display: flex;
  align-items: center;
  font-size: 24px; }

.detailed-trace-summary__trace-data-list {
  display: flex;
  align-items: center;
  font-size: 16px; }

.detailed-trace-summary__data-wrapper {
  margin: 0 4px;
  display: flex; }

.detailed-trace-summary__data-label {
  color: #1f1f20; }
  .detailed-trace-summary__data-label:after {
    content: ':';
    margin-right: 3px; }

.detailed-trace-summary__data-value {
  color: #7a7b7b; }

.detailed-trace-summary__mini-trace-viewer-wrapper {
  display: flex;
  justify-content: center; }

.detailed-trace-summary__timeline-wrapper {
  padding: 10px; }

.global-search {
  display: flex;
  width: 100%; }

.global-search__conditions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: scroll;
  margin-right: 15px;
  padding: 9px;
  color: #464646;
  background: #f8f9f8;
  border: 1px solid #c8cac8;
  border-radius: 3px;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center; }

.global-search__placeholder {
  padding-left: 8px;
  padding-right: 4px; }

.global-search__search-condition-wrapper {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px; }

.global-search__add-condition-button {
  cursor: pointer;
  height: 28px;
  width: 28px;
  background: #8999ef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #ffffff;
  margin-right: 2px; }

.global-search__add-condition-button-icon {
  font-size: 18px; }

.global-search__condition-limit-wrapper {
  cursor: pointer;
  font-size: 13px;
  width: 76px;
  height: 50px;
  border-right: solid 1px #c8cac8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #bcbdbc;
  box-sizing: border-box; }

.global-search__condition-lookback-wrapper {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  flex-shrink: 0; }

.global-search__find-button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #9989ef;
  border-radius: 3px;
  cursor: pointer; }

.global-search__find-button-icon {
  font-size: 18px;
  width: 36px;
  text-align: center; }

.loading-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  color: #eeeeee;
  background-color: #1f1f20;
  opacity: 0.7;
  display: flex;
  -webkit-pack: justify !important;
  -webkit-box-align: center !important;
  justify-content: center;
  align-items: center; }
  .loading-overlay-enter {
    opacity: 0;
    display: flex; }
  .loading-overlay-enter-active {
    opacity: 0.7;
    transition: all 100ms ease-in; }
  .loading-overlay-enter-done {
    opacity: 0.7; }
  .loading-overlay-exit {
    opacity: 0.7; }
  .loading-overlay-exit-active {
    opacity: 0;
    transition: all 100ms ease-out; }
  .loading-overlay-exit-done {
    opacity: 0;
    display: none; }

.loading-overlay-icon {
  font-size: 72px; }

.mini-trace-viewer {
  width: 96%;
  padding: 2px;
  margin: 5px; }

.mini-trace-viewer__time-markers-wrapper {
  position: relative;
  height: 14px; }

.mini-trace-viewer__time-marker {
  position: absolute; }

.mini-trace-viewer__time-marker-label {
  color: #1f1f20;
  font-size: 10px;
  position: absolute;
  left: -20px; }
  .mini-trace-viewer__time-marker-label.first {
    left: 2px;
    position: absolute; }
  .mini-trace-viewer__time-marker-label.last {
    left: initial;
    right: 2px;
    position: absolute; }

.mini-trace-viewer__graph {
  padding: 2px;
  background-color: #eeeeee;
  height: 75px;
  border: 1px solid #d8d9d8;
  border-radius: 2px;
  cursor: pointer; }

.search-condition {
  border-radius: 3px;
  display: flex;
  height: 28px;
  color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #9bbdda; }

.search-condition-key-select__control {
  border: 0 !important;
  border-radius: 0px !important;
  background-color: #5F95C3 !important;
  cursor: pointer !important; }

.search-condition-key-select__single-value {
  color: #ffffff !important;
  height: 28px !important; }

.search-condition__delete-button {
  width: 32px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #9bbdda !important;
  cursor: pointer; }

.search-condition__delete-button-icon {
  font-size: 10px; }

.service-name-badge {
  color: #ffffff;
  border-radius: 2px;
  padding: 5px; }

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px;
  color: #f8f9f8;
  background-color: #6A9FB5;
  z-index: 10000;
  font-size: 11px; }

.sidebar__menu a {
  color: #dedede;
  color: #f8f9f8;
  text-decoration: none; }

.sidebar__page-option {
  display: flex;
  justify-content: center;
  padding: 4px;
  box-sizing: border-box; }

.sidebar__page-option--selected {
  display: flex;
  justify-content: center;
  padding: 4px;
  box-sizing: border-box;
  color: #383838;
  background: #7baFc6;
  border-right: 4px solid #eeeeee; }

.sidebar__page-option-icon {
  display: flex;
  justify-content: center;
  font-size: 22px; }

.sidebar__brand-link {
  width: 80px;
  height: 80px;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #7baFc6, #6A9FB5); }

.sidebar__brand-logo {
  width: 80px; }
  .sidebar__brand-logo * {
    fill: #f8f9f8; }

.timeline {
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px #9f9f9f;
  overflow: hidden; }

.timeline__header-row {
  height: 30px;
  position: relative;
  background: #eeeeee;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #898989;
  display: flex; }

.timeline__header-row-title-splitter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #bcbdbc;
  box-sizing: border-box; }

.timeline__header-row-title {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px; }

.timeline__header-row-splitter {
  font-size: 12px;
  padding-right: 4px;
  cursor: pointer; }

.timeline__header-row-time-markers {
  position: relative; }

.timeline__time-marker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #bcbdbc; }
  .timeline__time-marker.first {
    width: 0; }
  .timeline__time-marker.last {
    width: 0; }

.timeline__header-row-time-marker-label {
  font-size: 10px;
  left: 2px;
  position: absolute; }
  .timeline__header-row-time-marker-label.last {
    left: initial;
    right: 2px;
    position: absolute; }

.timeline__span {
  width: 100%;
  height: 25px;
  position: relative;
  display: flex;
  cursor: pointer;
  background: #ffffff; }
  .timeline__span:hover {
    background: #eeeeee; }

.timeline__span-service-name-column-wrapper {
  border-right: 1px #c8cac8 solid;
  box-sizing: border-box; }

.timeline__span-service-name-column {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center; }

.timeline__span-service-name-column-button {
  position: absolute !important;
  cursor: pointer !important;
  width: 18px; }

.timeline__span-service-name-column-depth-marker {
  position: absolute;
  margin: 0 8px;
  width: 3px;
  height: 80%;
  border-radius: 1px; }

.timeline__span-service-name-column-name-wrapper {
  position: absolute;
  display: flex; }

.timeline__span-service-name-column-name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.timeline__span-span-name-column-wrapper {
  border-right: 1px #bcbdbc solid;
  box-sizing: border-box;
  display: flex;
  align-items: center; }

.timeline__span-span-name-column {
  color: #898989;
  font-size: 12px;
  padding-left: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.timeline__span-bar-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center; }

.timeline__span-time-markers-bar {
  position: relative; }

.timeline__span-bar {
  position: absolute;
  border-radius: 4px;
  opacity: 0.8;
  height: 80%; }

.timeline__span-duration {
  color: #383838;
  font-size: 12px; }
  .timeline__span-duration.left {
    float: left;
    padding-left: 8px; }
  .timeline__span-duration.right {
    float: right;
    padding-right: 8px; }

.timeline__span-info {
  position: relative;
  width: 100%;
  display: flex;
  border-top: 1px solid #d8d9d8;
  border-bottom: 1px solid #d8d9d8; }

.timeline__span-info-left {
  position: absolute;
  height: 100%;
  background: #eeeeee;
  display: flex;
  align-items: center;
  border-right: 1px solid #bcbdbc;
  box-sizing: border-box; }

.timeline__span-info-left-depth-marker {
  position: absolute;
  margin: 0 8px;
  width: 3px;
  height: 99%;
  border-radius: 1px; }

.timeline__span-info-right {
  position: relative;
  background: #f8f9f8; }

.timeline__span-info-info {
  padding: 10px; }

.timeline__span-info-info-title {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 3px solid; }

.timeline__span-info-info-aka {
  display: flex;
  align-items: center;
  padding: 3px; }

.timeline__span-info-info-aka-badge {
  font-size: 12px;
  margin: 1px 3px; }

.trace-summary {
  border: 1px solid #c8cac8;
  border-radius: 2px; }

.trace-summary__trace-id {
  font-size: 14px;
  padding-left: 4px;
  background-color: #f8f9f8; }

.trace-summary__upper-container {
  display: flex;
  border-top: 1px solid #d8d9d8; }

.trace-summary__bars {
  width: 100%; }

.trace-summary__buttons {
  width: 58px;
  border-left: 1px solid #d8d9d8;
  padding: 0 2px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .trace-summary__buttons a {
    color: #686868;
    text-decoration: none; }

.trace-summary__button {
  cursor: pointer; }

.trace-summary__lower-container {
  border-top: 1px solid #d8d9d8;
  background-color: #f8f9f8;
  display: flex;
  flex-wrap: wrap;
  padding: 4px; }

.trace-summary__badge-wrapper {
  padding: 4px 4px; }

.trace-summary__bar-container {
  position: relative;
  cursor: pointer; }

.trace-summary__bar-wrapper {
  padding: 1px;
  box-sizing: border-box;
  position: relative; }

.trace-summary__upper-bar-label {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.trace-summary__bar-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold; }

.trace-summary__bar {
  height: 24px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.trace-summary__timeline-wrapper {
  padding: 8px;
  background-color: #f8f9f8; }
