//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.app__layout {
  display: block;
}

.app__global-search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 14px 50px 14px 110px;
  box-sizing: border-box;
  width: 100%;
  background-color: $gray-11;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid $gray-9;
}

.app__content {
  padding-top: 80px;
  padding-left: 80px; /* For avoiding from the header */
  position: relative;
}
