.app__layout {
  display: block;
}

.app__global-search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 14px 50px 14px 110px;
  box-sizing: border-box;
  width: 100%;
  background-color: $gray-11;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid $gray-9;
}

.app__content {
  padding-top: 80px;
  padding-left: 80px; /* For avoiding from the header */
  position: relative;
}
