.browser-header {
  padding-bottom: 8px;
  border-bottom: solid 2px $gray-9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browser-header__total-results {
  font-size: 16px;
}

.browser-header__sorting-methods {
  width: 180px;
}
