.condition-lookback {
  display: flex;
}

.condition-lookback-select__control {
  height: 50px !important;
  border: 0 !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  color: $dark-2 !important;
  background: rgba(0, 0, 0, 0) !important;
  box-sizing: border-box !important;
}

.condition-lookback-select__single-value {
  color: $dark-2 !important;
}

.condition-lookback__custom {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  color: $dark-2;
  background-color: $gray-8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.condition-lookback__custom-date-picker {
  display: flex;
  padding: 0 1px;
}

.condition-lookback__custom-tilda-indicator {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
}
