//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.dependencies-sidebar {
  padding: 4px;
  background-color: $gray-11;
}

.dependencies-sidebar__service-name-container {
  border-bottom: 1px solid $gray-9;
  display: flex;
}

.dependencies-sidebar__service-name {
  font-size: 22px;
  font-weight: bold;
}

.dependencies-sidebar__subtitle {
  font-size: 18px;
}

.dependencies-sidebar__subtitle-icon {
  margin-right: 4px;
}

.dependencies-sidebar__no-edges {
  color: $red-1;
}

.dependencies-sidebar__no-edges-icon {
  margin-right: 3px;
}

.dependencies-sidebar__edge-data {
  margin: 4px 2px 14px 2px;
}

.dependencies-sidebar__count-data-wrapper {
  display: flex;
  background-color: $white;
  border-radius: 3px;
  border: 1px solid $gray-9;
}

.dependencies-sidebar__count-data {
  display: flex;
  margin-left: 4px;
  margin-right: 12px;
}

.dependencies-sidebar__count-data-label {
  font-weight: bold;
  margin-right: 8px;

  &--normal {
    color: $dark-2;
  }

  &--danger {
    color: $red-1;
  }
}

.dependencies-sidebar__separator {
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid $gray-9;
}

.dependencies-sidebar__doughnut-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dependencies-sidebar__doughnut {
}
