.dependencies__wrapper {
  display: flex;
  color: $dependencies-color;
}

.dependencies__background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: $dependencies-bg;
}

.dependencies__main {
  width: 100%;
  box-sizing: border-box;

  &-enter {
    margin-right: 450px;
  }

  &-enter-active {
    margin-right: 0px;
    transition: all 150ms ease-in;
  }

  &-enter-done {
    margin-right: 0px;
  }

  &-exit {
    margin-right: 0px;
  }

  &-exit-active {
    margin-right: 450px;
    transition: all 150ms ease-in;
  }

  &-exit-done {
    margin-right: 450px;
  }
}

.dependencies__sidebar {
  background: $sidebar-bg;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  overflow-y: auto;
  box-shadow: 0px 0px 1px 1px $sidebar-shadow-color;
  width: 0px;
  box-sizing:border-box;

  &-enter {
    width: 450px;
  }

  &-enter-active {
    width: 0px;
    transition: all 150ms ease-in;
  }

  &-enter-done {
    width: 0px;
  }

  &-exit {
    width: 0px;
  }

  &-exit-active {
    width: 450px;
    transition: all 150ms ease-in;
  }

  &-exit-done {
    width: 450px;
  }
}

.dependencies {
  padding: 10px;
}

.dependencies__search-wrapper {
  display: flex;
  justify-content: center;
}

.dependencies__search {
  padding: 10px;
  display: flex;
  background: $dependencies-search-bg;
  border-radius: 3px;
}

.dependencies__search-condition {
  margin: 2px;
  padding: 5px;
  background: $dependencies-search-condition-bg;
  border-radius: 3px;

  display: flex;
  -webkit-box-align: center !important;
  align-items: center;
}

.dependencies__search-label {
  padding: 0px 4px;
}

.dependencies__search-button-wrapper {
  height: 100%;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center;
  padding: 0px 8px;
}

.dependencies__search-button {
  height: 24px;
}

.dependencies__type-ahead-box-wrapper {
  display: flex;
  justify-content: flex-end;
}

.dependencies__type-ahead-box {
  padding: 7px;
  background: $dependencies-type-ahead-box-bg;
  border-radius: 3px;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center;
}

.dependencies__type-ahead-wrapper {
  width: 170px;
}

.dependencies__graph-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dependencies__graph {
  width: 90%;
  height: 1000px;
}

.dependencies__sidebar-animation {
  &-enter {
    display: block;
  }

  &-enter-active {
    display: none;
  }

  &-enter-done {
    display: none;
  }

  &-exit {
    display: none;
  }

  &-exit-active {
    display: none;
  }

  &-exit-done {
    display: block;
  }
}

.dependencies__sidebar {
}

.dependencies__sidebar-content-wrapper {
  padding: 50px 25px 25px 25px;
}

.dependencies__sidebar-service-name {
  font-size: $font-size-h1;
  width: 100%;
  border-bottom: 3px solid;
}

.dependencies__sidebar-category-label {
  font-size: $font-size-h4;
  padding-top: 10px;
}

.dependencies__sidebar-category-wrapper {
  padding: 5px;
  background: $dependencies-sidebar-bg-1;
  border-radius: 3px;
}

.dependencies__sidebar-category {
  padding: 6px 2px;
}

.dependencies__sidebar-source-label {
  padding-top: 20px;
  font-size: $font-size-h3;
}

.dependencies__sidebar-source-target {
  padding: 10px 10px 3px 10px;
  background: $dependencies-sidebar-bg-1;
  border-radius: 4px;
}

.dependencies__sidebar-count-wrapper {
  padding: 0px 3px;
  border-radius: 2px;
  display: flex;
  font-size: 15px;
}

.dependencies__sidebar-count-label {
  padding-right: 2px;
  color: $dependencies-sidebar-count-label-color;
}

.dependencies__sidebar-count-value {
  padding-right: 6px;
  color: $dependencies-sidebar-count-value-color;
}

.dependencies__sidebar-doughnut-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dependencies__sidebar-doughnut {
  width: 340px;
  height: 540px;
}
