//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.dependencies {
  display: flex;
}

.dependencies__main {
  transition: width 0.25s;

  &--wide {
    width: 100%;
  }

  &--narrow {
    width: calc(100% - 450px);
  }
}

.dependencies__sidebar-wrapper {
  transition: width 0.25s;
  background-color: $gray-11;
  border-left: 1px solid $gray-9;

  position: fixed;
  height: 100vh;
  z-index: 10;
  top: 0;
  right: 0;
  overflow-y: auto;
  padding-top: 85px;
  box-sizing: border-box;

  &--opened {
    width: 450px;
  }

  &--closed {
    width: 0px;
    overflow: hidden;
    border-left: 0px;
  }
}

.dependencies__search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $gray-9;
}

.dependencies__search {
  padding: 10px;
  display: flex;
}

.dependencies__lookback-condition {
  margin: 2px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid $gray-9;
  background-color: $gray-11;

  display: flex;
  align-items: center;
}

.dependencies__lookback-condition-separator {
  display: flex;
  align-items: center;
  padding: 0 4px;
}

.dependencies__analyze-button-wrapper {
  display: flex;
  align-items: center;
  padding-left: 4px;
}

.dependencies__analyze-button {
  border-radius: 2px;
  border: 1px solid $gray-7;
  background: linear-gradient(to bottom, $gray-11, $gray-9);
  padding: 4px;
  cursor: pointer;
}

.dependencies__filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 8px 8px;
  box-sizing: border-box;
}

.dependencies__graph-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dependencies__graph {
  width: 90%;
  height: 1000px;
}
