//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.global-search-condition-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2px 5px;
  border: 1px solid $gray-8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  align-items: center;
}

.global-search-condition-list__empty-message {
  font-size: 14px;
  cursor: default;
}

.global-search-condition-list__condition-wrapper {
  margin: 2px;
}

.global-search-condition-list__add-button-wrapper {
  margin: 2px;
}

.global-search-condition-list__add-button {
  width: 30px;
  height: 30px;
  color: $white;
  background-color: $blue-2;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $blue-4;
    position: relative;
    right: 1px;
    bottom: 1px;
    box-shadow: 1px 1px rgba(0,0,0,0.4);
  }
}

.global-search-condition-list__add-button-icon {
  font-size: 17px;
}
