//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.global-search {
  display: flex;
  width: 100%;
}

.global-search__conditions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 15px;
  padding: 9px;
  color: $dark-5;
  background: $gray-11;
  border: 1px solid $gray-8;
  border-radius: 3px;
  align-items: center;
}

.global-search__placeholder {
  padding-left: 8px;
  padding-right: 4px;
}

.global-search__search-condition-wrapper {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.global-search__add-condition-button {
  cursor: pointer;
  height: 28px;
  width: 28px;
  background: #8999ef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #ffffff;
  margin-right: 2px;
}

.global-search__add-condition-button-icon {
  font-size: 18px;
}

.global-search__condition-limit-wrapper {
  cursor: pointer;
  font-size: 13px;
  width: 76px;
  height: 50px;
  border-right: solid 1px $gray-8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid $gray-7;
  box-sizing: border-box;
  background: linear-gradient(to bottom, $gray-10, $gray-9);

}

.global-search__condition-lookback-wrapper {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
  height: 50px;
  border: 1px solid $gray-7;
  box-sizing: border-box;
  background: linear-gradient(to bottom, $gray-10, $gray-9);
}

.global-search__dropdown-menu-wrapper {
  margin-left: 10px;
}

.global-search__find-button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #9989ef;
  border-radius: 3px;
  cursor: pointer;
}

.global-search__find-button-icon {
  font-size: 18px;
  width: 36px;
  text-align: center;
}
