//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.global-search-condition {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 30px;
  color: $white;
  border-radius: 3px;
  margin-left: 2px;
  margin-right: 2px;

  &:hover {
    position: relative;
    right: 1px;
    bottom: 1px;
    box-shadow: 1px 1px rgba(0,0,0,0.4);
  }
}

.global-search-condition__key-wrapper {

}

.global-search-condition__value-wrapper {

}

.global-search-condition__delete-button-wrapper {
  height: 100%;
}

.global-search-condition__delete-button {
  width: 20px;
  height: 100%;
  color: $white;
  background-color: $blue-3;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $blue-4;
  }
}

.global-search-condition__delete-button-icon {

}
