.global-search {
  display: flex;
  width: 100%;
}

.global-search__conditions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: scroll;
  margin-right: 15px;
  padding: 9px;
  color: $dark-2;
  background: $gray-10;
  border-radius: 3px;
  border: 1px solid #898989;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);

  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}

.global-search__placeholder {
  padding-left: 8px;
  padding-right: 4px;
}

.global-search__search-condition-wrapper {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.global-search__add-condition-button {
  cursor: pointer;
  height: 28px;
  width: 28px;
  background: #8999ef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #ffffff;
  margin-right: 2px;
}

.global-search__add-condition-button-icon {
  font-size: 18px;
}

.global-search__condition-limit-wrapper {
  cursor: pointer;
  font-size: 13px;
  width: 76px;
  height: 50px;
  border-right: solid 1px #222222;
  background: linear-gradient(to bottom, #676767, #464646);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
}

.global-search__condition-lookback-wrapper {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
}

.global-search__find-button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #9989ef;
  border-radius: 3px;
  cursor: pointer;
}

.global-search__find-button-icon {
  font-size: 18px;
  width: 36px;
  text-align: center;
}
