.header {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 42px;
  width: 100%;
  background-color: $header-bg;
  box-shadow: 0px 0px 1px 1px $header-shadow-color;
  display: flex;
  -webkit-pack: justify !important;
  justify-content: center;
  z-index: 9999;
}

.header__contents {
  width: 90%;
  display: flex;
  -webkit-pack: justify !important;
  -webkit-box-align: center !important;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  display: flex;
  -webkit-pack: justify !important;
  -webkit-box-align: center !important;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.header__brand > a {
  text-decoration: none;
}

/*
.header__brand-img {
  height: 42px;
}
*/

.header__brand-title {
  font-size: 26px;
  color: $header-color;

}

.header__menu {
  -webkit-box-flex: 1 !important;
  flex: 1 1 auto;
  padding-left: 10px;
  display: flex;
  height: 100%;
}

.header__option {
  box-sizing: border-box; // for showing border
  height: 100%;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center;
  border-bottom: 0px solid;
  background: $header-option-bg;

  &.selected {
    border-bottom: 2px solid $header-option-border-bottom-color-selected;
    background: $header-option-bg-selected-default;
    background: $header-option-bg-selected-webkit;
    background: $header-option-bg-selected;
    border-right: 1px solid $header-option-border-color;
    border-left: 1px solid $header-option-border-color;
  }
}

.header__option-link {
  padding: 0px 8px;
  color: $header-option-color;

  &.selected {
    pointer-events: none;
    color: $header-option-color-selected;
  }
}

.header__option-icon {
  padding-right: 4px;
}

.header__trace-id {
  min-width: 100px;
  max-width: 200px;
}
