.form-input {
  display: block;
  width: 100%;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  border: 1px solid $input-border-color;
  border-radius: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
