.search-condition {
  border-radius: 3px;
  display: flex;
  height: 28px;
  color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #9bbdda;
}

.search-condition-key-select__control {
  border: 0 !important;
  border-radius: 0px !important;
  background-color: #5F95C3 !important;

  cursor: pointer !important;
}

.search-condition-key-select__single-value {
  color: #ffffff !important;
  height: 28px !important;
}

.search-condition__delete-button {
  width: 32px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #9bbdda !important;
  cursor: pointer;
}

.search-condition__delete-button-icon {
  font-size: 10px;
}
