.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px;
  color: $gray-11;
  background-color: #6A9FB5;
  z-index: 10000;
  font-size: 11px;
}

.sidebar__menu {
  & a {
    color: $gray-11;
    text-decoration: none;
  }
}

.sidebar__page-option {
  display: flex;
  justify-content: center;
  padding: 4px;
  box-sizing: border-box;
}

.sidebar__page-option--selected {
  display: flex;
  justify-content: center;
  padding: 4px;
  box-sizing: border-box;
  color: $dark-4;
  background: #7baFc6;
  border-right: 4px solid $gray-10;
}

.sidebar__page-option-icon {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.sidebar__brand-link {
  width: 80px;
  height: 80px;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #7baFc6, #6A9FB5);
}

.sidebar__brand-logo {
  width: 80px;
  & * {
    fill: $gray-11;
  }
}

.sidebar__other-links {
  position: absolute;
  bottom: 24px;
  width: 100%;
  font-size: 24px;

  & a {
    color: $gray-11;
    text-decoration: none;
  }
}

.sidebar__other-link {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar__go-back-to-classic-button-wrapper {
  width: 100%;
  padding: 18px 4px 4px 4px;
  box-sizing: border-box;
}

.sidebar__go-back-to-classic-button {
  border-radius: 3px;
  color: $gray-2;
  background: linear-gradient(to bottom, $gray-10, $gray-9);
  font-weight: bold;
  cursor: pointer;
}
