.sidebar {
  background: $sidebar-bg;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  box-shadow: 0px 0px 1px 1px $sidebar-shadow-color;
  box-sizing: border-box;
}

.sidebar__contents {
  padding: 50px 0px 0px 0px;
}

.sidebar__menu-icon {
  overflow: hidden;
  display: block;
  z-index: 99;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;

  &-upper-bar,
  &-middle-bar,
  &-lower-bar {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 36px;
    height: 3px;
    margin: auto;
    background: $text-color;
  }

  &-middle-bar {
    overflow: hidden;
    z-index: 100;

    &-enter {
      transform: translateX(-150%);
    }

    &-enter-active {
      transition: all 150ms ease-in;
      transform: translateX(0);
    }

    &-enter-done {
      transform: translateX(0);
    }

    &-exit {
      transform: translateX(0);
    }

    &-exit-active {
      transition: all 150ms ease-in;
      transform: translateX(-150%);
    }

    &-exit-done {
      transform: translateX(-150%);
    }
  }

  &-upper-bar {
    z-index: 101;
    content: "";

    &-enter {
      transform: translateY(0px) rotate(45deg);
    }

    &-enter-active {
      transition: all 150ms ease-in;
      transform: translateY(-12px) rotate(0deg);
    }

    &-enter-done {
      transform: translateY(-12px) rotate(0deg);
    }

    &-exit {
      transform: translateY(-12px) rotate(0deg);
    }

    &-exit-active {
      transition: all 150ms ease-in;
      transform: translateY(0px) rotate(45deg);
    }

    &-exit-done {
      transform: translateY(0px) rotate(45deg);
    }
  }

  &-lower-bar {
    z-index: 101;
    content: "";

    &-enter {
      transform: translateY(12px) rotate(0deg);
    }

    &-enter-active {
      transition: all 150ms ease-in;
      transform: translateY(12px) rotate(0deg);
    }

    &-enter-done {
      transform: translateY(12px) rotate(0deg);
    }

    &-exit {
      transform: translate(12px) rotate(0deg);
    }

    &-exit-active {
      transition: all 150ms ease-in;
      transform: translateY(0px) rotate(-45deg);
    }

    &-exit-done {
      transform: translateY(0px) rotate(-45deg);
    }
  }
}
