//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.timeline-header {
  height: 30px;
  position: relative;
  background: $gray-10;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px $gray-4;
  display: flex;
}

.timeline-header__resizable-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid $gray-7;
  box-sizing: border-box;
}

.timeline-header__column-name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
}

.timeline-header__draggable-splitter {
  font-size: 10px;
  padding-right: 4px;
  cursor: pointer;
}

.timeline-header__time-markers {
  position: relative;
}

.timeline-header__time-marker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: $gray-7;

  &--first, &--last {
    width: 0;
  }
}

.timeline-header__time-marker-label {
  font-size: 10px;
  left: 2px;
  position: absolute;

  &--last {
    left: initial;
    right: 2px;
    position: absolute;
  }
}
