.timeline {
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px $gray-5;
  overflow: hidden;
}

.timeline__time-marker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: $gray-7;

  &.first {
    width: 0;
  }
  &.last {
    width: 0;
  }
}

.timeline__span {
  width: 100%;
  height: 25px;
  position: relative;
  display: flex;
  cursor: pointer;
  background: $white;

  &:hover {
    background: $gray-10;
  }
}

.timeline__span-service-name-column-wrapper {
  border-right: 1px $gray-8 solid;
  box-sizing: border-box;
}

.timeline__span-service-name-column {
  position: relative;
  height: 100%;

  overflow: hidden;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center;
}

.timeline__span-service-name-column-button {
  position: absolute !important;
  cursor: pointer !important;
  width: 18px;
}

.timeline__span-service-name-column-depth-marker {
  position: absolute;
  margin: 0 8px;
  width: 3px;
  height: 80%;
  border-radius: 1px;
}

.timeline__span-service-name-column-name-wrapper {
  position: absolute;
  display: flex;
}

.timeline__span-service-name-column-name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timeline__span-span-name-column-wrapper {
  border-right: 1px $gray-7 solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.timeline__span-span-name-column {
  color: $gray-4;
  font-size: 12px;
  padding-left: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timeline__span-bar-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.timeline__span-time-markers-bar {
  position: relative;
}

.timeline__double-span-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.timeline__span-bar {
  position: absolute;
  border-radius: 4px;
  height: 70%;

  &--client {
    background-color: $gray-9;
  }

  &--server {}
}

.timeline__span-duration {
  color: $dark-4;
  font-size: 12px;
  position: absolute;

  &--left {
    padding-left: 8px;
  }

  &--right {
    padding-right: 8px;
  }
}
