.trace-summary-buttons {
  width: 40px;
  border-left: 1px solid $gray-9;
  padding: 0 2px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    color: $gray-2;
    text-decoration: none;
  }
}
