.trace-summary-upper-bar__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.trace-summary-upper-bar__data {
  display: flex;
  align-items: center;
}

.trace-summary-upper-bar__duration {
  font-weight: bold;
}

.trace-summary-upper-bar__spans {
  font-weight: lighter;
}
