.traces {
  padding: 25px;
}

.traces__upper-box-wrapper {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.traces__upper-box {
  padding: 5px;
  color: $text-color;
  background-color: $traces-upper-box-bg;
  border-radius: 3px;
  width: 100%;
}

.traces__total-traces-and-sorter {
  display: flex;
  flex: space-between;
  padding: 10px;
  -webkit-pack: justify !important;
  justify-content: space-between;
}

.traces__sorter-wrapper {
  min-width: 150px;
  max-width: 200px;
}

.traces__initial-message-wrapper {
  padding: 20px;
}

.traces__initial-message {
  font-size: $font-size-base;
  color: $traces-initial-message-color;
  background-color: $traces-initial-message-bg;
  opacity: 0.6;
  border-radius: 4px;
  padding: 10px;
}

.traces__trace {
  padding: 10px 0px;
}

.traces__trace-box {
  display: flex;
  background: $traces-trace-summary-bg;
  border: solid 1px $traces-trace-summary-border-color;
  border-radius: 3px;
}

.traces__trace-summary {
  width: 97%;
}

.traces__trace-link-wrapper {
  width: 3%;
}

.traces__trace-bar-wrapper {
  position: relative;
  height: 16px;
  background: $traces-trace-summary-bar-bg;
  cursor: pointer;
}

.traces__trace-bar-space {
  position: absolute;
  left: 0;
  top: 0;
}

.traces__trace-bar {
  height: 16px;
  position: absolute;
  left: 0;
  border-radius: 3px;

  &-enter {
    width: 100%;
  }

  &-enter-active {
    width: 0px;
  }

  &-enter-done {
    width: 0px;
  }

  &-exit {
    width: 0px;
  }

  &-exit-active {
    width: 100%;
    transition: all 350ms ease-in;
  }

  &-exit-done {
    width: 100%;
  }
}

.traces__trace-info--left {
  color: $traces-trace-summary-info-color;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

.traces__trace-info--right {
  color: $traces-trace-summary-info-color;
  position: absolute;
  right: 0;
}

.traces__trace-info-content {
  padding: 0px 8px;
}

.traces__trace-badges-wrapper {
  cursor: pointer;
  padding: 8px 3px 4px 3px;

  &:hover {
    background: $traces-trace-summary-bg-hover;
  }
}

.traces__trace-link {
  width: 100%;
  height: 100%;
}

.traces__trace-timeline {
  padding: 10px 10px;
  border-radius: 3px;
  background: $traces-trace-timeline-bg;
}
