//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.trace-summary {
  border: 1px solid $gray-8;
  border-radius: 2px;
}

.trace-summary__summary {
  cursor: pointer;
}

.trace-summary__trace-id {
  font-size: 14px;
  padding-left: 4px;
  background-color: $gray-11;
}

.trace-summary__summary:hover .trace-summary__trace-id {
  background-color: $gray-9;
}

.trace-summary__bars-and-buttons {
  display: flex;
  border-top: 1px solid $gray-9;
}

.trace-summary__summary:hover .trace-summary__bars-and-buttons {
  background-color: $gray-10;
}

.trace-summary__bars {
  width: 100%;
}

.trace-summary__service-badges {
  border-top: 1px solid $gray-9;
  background-color: $gray-11;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.trace-summary__summary:hover .trace-summary__service-badges {
  background-color: $gray-9;
}

.trace-summary__badge-wrapper {
  padding: 4px 4px;
}

.trace-summary__timeline-wrapper {
  padding: 8px;
  background-color: $gray-11;
}
