.rc-input-number {
  width: 100%;
  border: 1px solid $input-border-color;
}


.rc-input-number-handler-wrap {
  border-left: 1px solid $input-border-color;
}

.rc-input-number-handler {
  background: $btn-bg-default;
  background: $btn-bg-webkit;
  background: $btn-bg;
  border: 1px solid $input-border-color;

  &:active {
    background: $btn-bg-active-default;
    background: $btn-bg-active-webkit;
    background: $btn-bg-active;
  }

  &-up-inner {
    color: $btn-color;
  }

  &-down-inner {
    color: $btn-color;
  }
}

.rc-input-number-input {
  border: 1px solid $input-border-color;
  color: $input-color;
  background-color: $input-bg;
}
