.rc-time-picker-panel {
  &-inner {
    color: $input-color;
    background-color: $input-bg;
  }
  &-input {
    color: $input-color;
    background-color: $input-bg;
  }
}

.rc-time-picker {
  height: $input-line-height;
}

.rc-time-picker-input {
  color: $input-color;
  background-color: $input-bg;
  border: 1px solid $input-border-color;
  border-radius: 2px;
}

.rc-time-picker-panel-select {
  font-size: $font-size-base;
  color: $input-color;

  &-active {
    background-color: $timepicker-select-bg-focused;
  }

  li {
    background-color: $timepicker-select-bg;
    &:hover {
      background: $timepicker-select-bg-selected;
    }
  }

  & > * > &-option-selected {
    background: $timepicker-select-bg-selected;
  }
}

.rc-time-picker-panel-select-option-selected {
  background: $timepicker-select-bg-selected;
}
