//
// Licensed to the Apache Software Foundation (ASF) under one or more
// contributor license agreements.  See the NOTICE file distributed with
// this work for additional information regarding copyright ownership.
// The ASF licenses this file to You under the Apache License, Version 2.0
// (the "License"); you may not use this file except in compliance with
// the License.  You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.react-select__control {
  border: 1px solid $input-border-color !important;
  border-radius: 3px !important;
  color: $input-color !important;
  background-color: $input-bg !important;
}

.react-select__single-value {
  font-size: $font-size-base;
  color: $input-color !important;
}

.react-select__menu {
  background-color: $input-bg !important;
}

.react-select__option {
  color: $input-color !important;
}

.react-select__option--is-focused {
  background-color: $select-option-focused !important;
}

.react-select__input {
  color: $input-color !important;
}
