.react-select__control {
  border: 1px solid $input-border-color !important;
  border-radius: 3px !important;
  color: $input-color !important;
  background-color: $input-bg !important;
}

.react-select__single-value {
  font-size: $font-size-base;
  color: $input-color !important;
}

.react-select__menu {
  background-color: $input-bg !important;
}

.react-select__option {
  color: $input-color !important;
}

.react-select__option--is-focused {
  background-color: $select-option-focused !important;
}

.react-select__input {
  color: $input-color !important;
}
