
<div class="row">
    <div class="span12">
        <pre class="error">{{errorMsg}}</pre>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(Zipkin.Application.Static.initialize());
    });
</script>
