html {
  // Include padding and border in the element's total width and height:
  box-sizing: border-box;
  font-size: $font-size-root;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $gray-2;
  background-color: $white;
  margin: 0;
}

[role="button"] {
  cursor: pointer;
}
