  <nav id='navbar' class='navbar navbar-expand-lg navbar-dark bg-dark'>
          <a class='navbar-brand ml-5' href='{{contextRoot}}'>
          <img src="https://zipkin.io/public/img/zipkin-logo-200x119.jpg" width="60" height="40" class="d-inline-block align-top rounded" alt=""/>
            <span class='font-weight-light navbar-text' style="font-size: .75em;" data-i18n="nav.inves">Investigate system behavior</span>
          </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" data-route="index"><a class="nav-link"  href="{{contextRoot}}" data-i18n="nav.find">Find a trace</a></li>
            <li class="nav-item" data-route="traceViewer"><a class="nav-link"  href="{{contextRoot}}traceViewer" data-i18n="nav.viewSaved">View Saved Trace</a></li>
            <li class="nav-item" data-route="dependency"><a class="nav-link"  href="{{contextRoot}}dependency/" data-i18n="nav.dep">Dependencies</a></li>
          </ul>
        </div>
          <form id="traceIdQueryForm" class="form-inline my-2 my-lg-0 mr-5">
            <input class="form-control mr-sm-2" type="search" aria-label="Search" id="traceIdQuery" name="traceIdQuery" placeholder='Go to trace' data-i18n='nav.search'>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <span class="navbar-text badge badge-dark" id="environment"></span>
          </form>
    </nav>
  <div class="container-fluid">
    <div id="errorPanel" class="alert alert-danger">
    </div>

    <div class='content border-dark mb-3'></div>

    <div id='fullPageSpinner'>
      <div class='fa-circle-notch fa-spin active'>
      </div>
    </div>

    <div class="ui-grid-a" id="extraButtonsContainer">
      <div style="display: inline-block">
        <button type="button" class="btn btn-danger btn-sm" id='zoomOutSpans' value='uiZoomOutSpans' style='display: none'>
          <span class="glyphicon glyphicon-zoom-out"></span>
        </button>
      </div>
      <div style="display: inline-block">
        <button type="button" class="btn btn-default btn-sm back-to-top" id="backToTop" style='display: none'>
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
      </div>
    </div>
</div>
