<div class="alert alert-info" id="help-msg">
    <p data-i18n="traces.searchDisabled">Searching has been disabled via the searchEnabled property. You can still view specific traces of which you know the trace id by entering it in the "Go to trace" textbox.</p>
</div>
