<hr><h6> Filter Results </h6><hr>
{{#traces}}
<li class="trace {{infoClass}}" data-traceId="{{traceId}}" data-duration="{{duration}}" data-timestamp="{{timestamp}}" data-service-percentage="{{servicePercentage}}">
  <a href="{{contextRoot}}traces/{{traceId}}">
    <div class="bar-block">
      <span class="bar-graphic" style="width:{{width}}%;"></span>
      <span class="bar-label">{{durationStr}}</span>
      <span class="bar-label">{{totalSpans}} spans</span>
    </div>
    <div class="bar-block">
      <span class="bar-graphic" style="width:{{servicePercentage}}%;"></span>
      <span class="bar-label">{{serviceName}} {{servicePercentage}}%</span>
    </div>
  </a>
  <div class="trace-details services">
    {{#serviceDurations}}
    <span class="label label-default service-filter-label" data-service-name="{{name}}">{{name}}
                          x{{count}} {{max}}ms</span> {{/serviceDurations}}
  </div>
  <div class="trace-details timestamp pull-right">
    <time class="label timeago" datetime="{{startTs}}">{{startTs}}</time>
  </div>
</li>
{{/traces}}