<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="zipkin.collector.kafka10" level="DEBUG"/>
  <logger name="com.github.charithe.kafka" level="INFO"/>

  <!-- uncomment to include kafka consumer configuration in test logs -->
  <!--<logger name="org.apache.kafka.clients" level="INFO"/>-->

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
