.condition-trace-id {
  height: 100%;
}

.condition-trace-id__input {
  height: 28px;
  padding: 0px 2px 0px 4px;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  color: $white;
  background-color: $blue-3;
}
