.condition-duration {
  display: flex;
}

.condition-duration__value-input {
  height: 28px;
  padding: 0px 2px 0px 4px;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-align: right;
  color: #ffffff;
  background-color: #9bbdda;
}

.condition-duration-unit-select__control {
  border: 0 !important;
  border-radius: 0px !important;
  background-color: #9bbdda !important;
  cursor: pointer !important;
}

.condition-duration-unit-select__single-value {
  color: #ffffff !important;
  height: 28px !important;
}
