.condition-annotation-query {
  height: 100%;
}

.condition-annotation-query__input {
  height: 28px;
  padding: 0px 2px 0px 4px;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #9bbdda;
}
