.date-picker {
  display: flex;

  .date-picker__calendar {
    &-input {
      height: 14px;
      width: 75px;
      padding-left: 4px;
      color: $white;
      background-color: $dark-4;
      border: 0;
      border-radius: 2px;
    }
  }

  .date-picker__timepicker {
    padding-left: 2px;
  }
}
