.timeline {
  box-sizing: border-box;
  border-radius: 3px;
  border: solid 1px $gray-5;
  overflow: hidden;
}

.timeline__header-row {
  height: 30px;
  position: relative;
  background: $gray-10;
  width: 100%;
  overflow: hidden;
  border-bottom: solid 1px $gray-4;
  display: flex;
}

.timeline__header-row-title-splitter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid $gray-7;
  box-sizing: border-box;
}

.timeline__header-row-title {
  font-size: $font-size-base;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
}

.timeline__header-row-splitter {
  font-size: $font-size-sm;
  padding-right: 4px;
  cursor: pointer;
}

.timeline__header-row-time-markers {
  position: relative;
}

.timeline__time-marker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: $gray-7;

  &.first {
    width: 0;
  }
  &.last {
    width: 0;
  }
}

.timeline__header-row-time-marker-label {
  font-size: 10px;
  left: 2px;
  position: absolute;

  &.last {
    left: initial;
    right: 2px;
    position: absolute;
  }
}

.timeline__span {
  width: 100%;
  height: 25px;
  position: relative;
  display: flex;
  cursor: pointer;
  background: $white;

  &:hover {
    background: $gray-10;
  }
}

.timeline__span-service-name-column-wrapper {
  border-right: 1px $gray-8 solid;
  box-sizing: border-box;
}

.timeline__span-service-name-column {
  position: relative;
  height: 100%;

  overflow: hidden;
  display: flex;
  -webkit-box-align: center !important;
  align-items: center;
}

.timeline__span-service-name-column-button {
  position: absolute !important;
  cursor: pointer !important;
  width: 18px;
}

.timeline__span-service-name-column-depth-marker {
  position: absolute;
  margin: 0 8px;
  width: 3px;
  height: 80%;
  border-radius: 1px;
}

.timeline__span-service-name-column-name-wrapper {
  position: absolute;
  display: flex;
}

.timeline__span-service-name-column-name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timeline__span-span-name-column-wrapper {
  border-right: 1px $gray-7 solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.timeline__span-span-name-column {
  color: $gray-4;
  font-size: 12px;
  padding-left: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timeline__span-bar-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.timeline__span-time-markers-bar {
  position: relative;
}

.timeline__span-bar {
  position: absolute;
  border-radius: 4px;
  opacity: 0.8;
  height: 80%;
}

.timeline__span-duration {
  color: $dark-4;
  font-size: 12px;

  &.left {
    float: left;
    padding-left: 8px;
  }

  &.right {
    float: right;
    padding-right: 8px;
  }
}

.timeline__span-info {
  position: relative;
  width: 100%;
  display: flex;
  border-top: 1px solid $gray-9;
  border-bottom: 1px solid $gray-9;
}

.timeline__span-info-left {
  position: absolute;
  height: 100%;
  background: $gray-10;
  display: flex;
  align-items: center;
  border-right: 1px solid $gray-7;
  box-sizing: border-box;
}

.timeline__span-info-left-depth-marker {
  position: absolute;
  margin: 0 8px;
  width: 3px;
  height: 99%;
  border-radius: 1px;
}

.timeline__span-info-right {
  position: relative;
  background: $gray-11;
}

.timeline__span-info-info {
  padding: 10px;
}

.timeline__span-info-info-title {
  font-size: $font-size-h1;
  font-weight: bold;
  border-bottom: 3px solid;
}

.timeline__span-info-info-aka {
  display: flex;
  align-items: center;
  padding: 3px;
}

.timeline__span-info-info-aka-badge {
  font-size: 12px;
  margin: 1px 3px;
}
