.rc-time-picker {
  height: 16px;
}

.rc-time-picker-input {
  border: 0;
  border-radius: 2px;
  height: 16px;
  width: 65px;
  padding-left: 4px;
  color: $white;
  background-color: $dark-4;
  line-height: normal;
}

.rc-time-picker-clear-icon {
  display: none;
}
